{% extends "base.html" %}

{% block content %}
<h1>Devices</h1>

<div class="page-actions">
    <a href="/tcpip" class="btn btn-success">+ Connexion TCP/IP</a>

    <form method="get">
        <button type="submit">Rafraîchir</button>
    </form>
</div>

<div class="card">
    <h2>Appareils connectés</h2>

    {% if devices %}
        {% for d in devices %}
            <div class="device">
                <span>{{ d.id }} - {{ d.status }}</span>

                <div class="actions">
                    <button class="btn-danger">Disconnect</button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Aucun appareil détecté</p>
    {% endif %}
</div>
{% endblock %}